
.wrapper{
  background-color: whitesmoke;
  width: 800px;
  margin-left: 300px;
  border-radius: 50px;
  margin-top: 100px;
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.2);
}
.c1{
  outline: none;
  border: none;
  border-bottom: 2px solid red;
}

#d1{
    font-size: larger;
    font-weight: 700;
}

#d2{
  font-size: larger;
  font-weight: 700;
}

input{
  outline: none;
  border: none;
  border: 2px solid red;
}

.dateBirth{
  text-align: center; 
}

#button{
  background-color: red;
  color: whitesmoke;
  padding: 10px;
  margin-top: 100px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  outline: none;
  border: none;
  border-bottom: 2px solid red;
}

.button{
  background-color: red;
  color: whitesmoke;
  padding: 10px;
  margin-top: 100px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  outline: none;
  border: none;
}

.dob{
  padding: 30px;
  margin-top: 100px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 0px;
  outline: none;
  border: none;
}

#button:hover{
    margin-left: 20px;
  }

#number{
    border-radius: 5px;
    margin-bottom: 10px;
}

#year{
    font-size: larger;
    font-weight: 700;
}

#age{
    font-size: larger;
    font-weight: 700;
    margin-bottom: 200px;
}

